
{% block title %}
    <title>createch_client</title>
{% endblock %}
{% block stylesheets %} 
    <link rel=stylesheet href=https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css>
    <link href="{{ app.request.basePath }}/static/css/app.5e08a8c94a7915e51b23d87c38d77261.css" rel=stylesheet>
    <script src=https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js></script>
{% endblock %}
{% block body %}
    <div id=app></div>
{% endblock %}
{% block javascripts %}
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/manifest.447bba88ec34ac4c6924.js"></script>
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/vendor.413ac17ca15e7816af96.js"></script>
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/app.04f1aa7faea098ece893.js"></script>
{% endblock %}