
{% block title %}
    <title>createch_client</title>
{% endblock %}
{% block stylesheets %} 
    <link rel=stylesheet href=https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css>
    <link href="{{ app.request.basePath }}/static/css/app.ca813a29795a38ce730809bbea8c2f4f.css" rel=stylesheet>
    <script src=https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js></script>
{% endblock %}
{% block body %}
    <div id=app></div>
{% endblock %}
{% block javascripts %}
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/manifest.39463ccb03435ebdd946.js"></script>
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/vendor.ef2d3e3b6d90c5a8e540.js"></script>
    <script type=text/javascript src="{{ app.request.basePath }}/static/js/app.6b43422aaa9bdf8105c6.js"></script>
{% endblock %}